<!-- Sidebar -->
<section id="sidebar">

  <!-- Intro -->
  <section id="intro">
    <a class="logo"><img src="assets/logo.jpg" alt="" /></a>
    <header>
      <h2>爱生活 爱coding</h2>
      <p>我的Github主页 <a href="https://github.com/Linyaxr">LInyaxr</a></p>
    </header>
  </section>

  <!-- Posts List -->
  <section style="border-top:0px;margin:0px;padding:0px;">
    <h3 style="border-bottom:1px solid #ccc;padding:0px 0px 20px;">文集分类</h3>
    <ul class="posts">
      <li style="display:inline-block;border:1px solid #ccc;padding:5px 15px;cursor:pointer;margin:10px 10px 10px 0px;" *ngFor="let arr of FolderArr">{{arr.name}} <span style="background:#f57878;color:#fff;padding:1px 5px;margin:0px 5px;">{{arr.folders.length}}</span></li>
    </ul>
  </section>
  <!-- Mini Posts -->
  <section style="border-top:0px;padding:0px;">
    <div class="mini-posts">
      <h3 style="border-bottom:1px solid #ccc;padding:0px 0px 20px;">点赞最多</h3>

      <!-- Mini Post -->
      <article class="mini-post" *ngFor="let arr of ExcellentArr" (click)="linkArticle(arr)" style="width:100%;">
        <header>
          <h3><a style="font-size:1rem;">{{arr.title}}</a></h3>
          <p style="margin:20px 0px;word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 4;-webkit-box-orient: vertical;overflow: hidden;">{{arr.describe}}</p>
          <a class="author"><img src="assets/logo.jpg" alt="" /></a>
        </header>
      </article>

    
    </div>
  </section>

