<div class="linLogin">
  <h1>欢迎注册</h1>
  <p>Welcome Register</p>
  <div class="loginBox">
    <ngl-form-element class="slds-top--small">
      <input nglFormControl type="text" placeholder="请输入账号" [(ngModel)]="registName">
    </ngl-form-element>
    <ngl-form-element class="slds-top--small">
      <input nglFormControl type="text" placeholder="请输入密码" [(ngModel)]="registPass">
    </ngl-form-element>
    <p></p>
    <button type="button" nglButton="neutral" (click)="RegisterForm()" style="font-size:.8rem;width:49%;display:inline-block;">注册</button>
    <button type="button" nglButton="neutral" (click)="linkLogin()" style="font-size:.8rem;width:49%;display:inline-block;">登录</button>
    <button type="button" nglButton="neutral" (click)="returnBack()" style="font-size:.8rem;width:100%;display:inline-block;margin:20px 0px;">返回</button>

  </div>
</div>

