<app-lin-header></app-lin-header>
<div class="listBox">
  <div class="listLeft">
    <app-lin-sider></app-lin-sider>
  </div>
  <div class="listRight">
    <h1>所有文章</h1>
    <div class="articleBoxList">
      <ul>
        <li>
          <div class="articleImg">
            <img src="assets/logo.jpg" alt="Alternate Text" />
          </div>
          <div class="articleCont">
            <h2 class="articleTitles">的噢大傻噢大傻噢大傻噢大傻噢大傻噢大傻噢大傻噢大傻噢大傻噢大傻</h2>
            <p class="articleTag">dsjasjldadkjsl</p>
            <p class="articleConts">:ellipsis;overflow:hidden;text-overflow:ellipsis;overflow:hidden;</p>
          </div>
        </li>
        <li>
          <div class="articleImg">
            <img src="assets/logo.jpg" alt="Alternate Text" />
          </div>
          <div class="articleCont">
            <h2 class="articleTitles">的噢大傻噢大傻噢大傻噢大傻噢大傻噢大傻噢大傻噢大傻噢大傻噢大傻</h2>
            <p class="articleTag">dsjasjldadkjsl</p>
            <p class="articleConts">:ellipsis;overflow:hidden;text-overflow:ellipsis;overflow:hidden;</p>
          </div>
        </li>
        <li>
          <div class="articleImg">
            <img src="assets/logo.jpg" alt="Alternate Text" />
          </div>
          <div class="articleCont">
            <h2 class="articleTitles">的噢大傻噢大傻噢大傻噢大傻噢大傻噢大傻噢大傻噢大傻噢大傻噢大傻</h2>
            <p class="articleTag">dsjasjldadkjsl</p>
            <p class="articleConts">:ellipsis;overflow:hidden;text-overflow:ellipsis;overflow:hidden;</p>
          </div>
        </li>
        
      </ul>
    </div>
  </div>
</div>
