<app-lin-header></app-lin-header>

<div class="aboutMain">
  <div class="aboutImg">
    <img src="assets/logo.jpg" alt="Alternate Text" />
  </div>
  <div class="aboutCont">
    <ul>
      <li>
        <h1>关于自己</h1>
        <p>爱生活、爱艺术、爱书画、爱音乐、爱设计、爱编程。人生百态，笑口常开，秉承自我，谨慎独行。静觅，静静寻觅生活的美好。</p>
        <p>爱生活、爱艺术、爱书画、爱音乐、爱设计、爱编程。人生百态，笑口常开，秉承自我，谨慎独行。静觅，静静寻觅生活的美好。</p>
        <p>爱生活、爱艺术、爱书画、爱音乐、爱设计、爱编程。人生百态，笑口常开，秉承自我，谨慎独行。静觅，静静寻觅生活的美好。</p>
        <p>爱生活、爱艺术、爱书画、爱音乐、爱设计、爱编程。人生百态，笑口常开，秉承自我，谨慎独行。静觅，静静寻觅生活的美好。</p>
        <p>爱生活、爱艺术、爱书画、爱音乐、爱设计、爱编程。人生百态，笑口常开，秉承自我，谨慎独行。静觅，静静寻觅生活的美好。</p>
        <p>爱生活、爱艺术、爱书画、爱音乐、爱设计、爱编程。人生百态，笑口常开，秉承自我，谨慎独行。静觅，静静寻觅生活的美好。</p>
        <p>爱生活、爱艺术、爱书画、爱音乐、爱设计、爱编程。人生百态，笑口常开，秉承自我，谨慎独行。静觅，静静寻觅生活的美好。</p>
        <p>爱生活、爱艺术、爱书画、爱音乐、爱设计、爱编程。人生百态，笑口常开，秉承自我，谨慎独行。静觅，静静寻觅生活的美好。</p>
        <p>爱生活、爱艺术、爱书画、爱音乐、爱设计、爱编程。人生百态，笑口常开，秉承自我，谨慎独行。静觅，静静寻觅生活的美好。</p>
        <p>爱生活、爱艺术、爱书画、爱音乐、爱设计、爱编程。人生百态，笑口常开，秉承自我，谨慎独行。静觅，静静寻觅生活的美好。</p>
        <p>爱生活、爱艺术、爱书画、爱音乐、爱设计、爱编程。人生百态，笑口常开，秉承自我，谨慎独行。静觅，静静寻觅生活的美好。</p>
        <p>爱生活、爱艺术、爱书画、爱音乐、爱设计、爱编程。人生百态，笑口常开，秉承自我，谨慎独行。静觅，静静寻觅生活的美好。</p>
        <p>爱生活、爱艺术、爱书画、爱音乐、爱设计、爱编程。人生百态，笑口常开，秉承自我，谨慎独行。静觅，静静寻觅生活的美好。</p>
        <p>爱生活、爱艺术、爱书画、爱音乐、爱设计、爱编程。人生百态，笑口常开，秉承自我，谨慎独行。静觅，静静寻觅生活的美好。</p>
        <p>爱生活、爱艺术、爱书画、爱音乐、爱设计、爱编程。人生百态，笑口常开，秉承自我，谨慎独行。静觅，静静寻觅生活的美好。</p>
        <p>爱生活、爱艺术、爱书画、爱音乐、爱设计、爱编程。人生百态，笑口常开，秉承自我，谨慎独行。静觅，静静寻觅生活的美好。</p>
        <p>爱生活、爱艺术、爱书画、爱音乐、爱设计、爱编程。人生百态，笑口常开，秉承自我，谨慎独行。静觅，静静寻觅生活的美好。</p>
        <span class="ljMore">了解更多</span>
      </li>
      <li>
        <h1>我的技能树</h1>
      </li>
    </ul>

    

  </div>
</div>
